body
{
    width: 100vw;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, rgb(221, 182, 109), #e0dddf);
    overflow-x: hidden;
}
.user-information
{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}

.user-container
{
    padding-top: 50px;
    width: 1050px;
    height: 800px;
    display: flex;
}
.column
{
    margin-top: 30px;
    width: 350px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/* правая часть */
#col-1
{
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#col-1 div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-fullname {
    color: orangered;
}

/* Левая часть */
#col-2
{
    width: 700px;
    align-items: center;
    justify-content: flex-start;
}

#col-2 .card
{
    margin: 25px 0px 0px 0px;
}

.column p
{
    color: black;
}

#avatar
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(255, 170, 51);
    background-size: cover;
}
#link_avatar a
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: black;
    text-decoration: none;
}
#link_avatar a:hover
{
    border-bottom: 3px dotted orangered;
}
.profile-links a
{
    color: black;
    text-decoration: none;
    margin-top: 10px;
}

.profile-links a:hover
{
    border-bottom: 2px dotted orangered;
}

#sq2
{
    position: absolute;
    right: 17px;
    background: rgb(255, 170, 51);
}

#sq1
{
    position: absolute;
    left: 17px;
    background: rgb(255, 170, 51);
}

.sq
{
    margin-bottom: 2px;
    width: 45px;
    height: 25px;
    position: relative;
    display: flex;
}

.new-card
{
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#new-card-btn
{
    border: 1px solid rgb(255, 170, 51);
    border-radius: 7px;
    margin-top: 15px;
    height: 30px;
    width: 290px;
    background: rgb(255, 170, 51);
}

#new-card-btn:hover
{
    background: rgb(255, 170, 51);
}

#new-card-btn:active
{
    background: rgb(255, 170, 51);
}

.balance
{
    width: 280px;
    font-size: 80%;
    display: flex;
    justify-content: space-evenly;
}

.currency-box
{
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.currency-box div
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 150%;
    height: 15px;
    width: 15px;
}

.currency-box div:hover
{
    cursor: pointer;
    font-weight: bold;
}

/* KARD CSS */

.card-container {
    width: 100%;
    margin-top: 50px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 500px;
    height: 300px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front, .back {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #c0a987, #634e0a);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no {
    margin-top: 50px;
    font-size: 35px;
}

.card-holder {
    font-size: 22px;
    margin-top: 40px;
}

.name {
    font-size: 22px;
}

.bar {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
    margin-top: 10px;
}

.card-cvv {
    margin-top: 20px;
}

.card-cvv div {
    flex: 1;
}

.card-cvv img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 10px 20px;
}

.card-text {
    margin-top: 30px;
    font-size: 14px;
}

.signature {
    margin-top: 30px;
}

.back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(-180deg);
}
