body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, rgb(218, 162, 59), #d5c5cf);
}

.login {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1100px;
    max-width: 1100px;
    height: 100%;
    margin-top: 100px;
}

.left-side {
    border-radius: 10px;
    background: rgb(235, 235, 235);
    width: 500px;
    height: 500px;
}

#divOne {
    width: 500px;
    height: 100px;
    padding-left: 50px;
    padding-top: 40px;
}

#divOne p {
    color: rgb(255, 170, 51);
    font-size: x-large;
    font-weight: 1000;
}
#trans {
    margin-left: 32%;
}
#ref {
    margin-left: 29%;
}

#divTwo {
    width: 500px;
    height: 170px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#divTwo div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 85px;
}

#divTwo div div {
    padding-left: 4px;
    padding-bottom: 2px;
    color: rgb(78, 78, 78);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#divTwo div i {
    bottom: 9px;
    right: 9px;
    position: absolute;
    color: rgb(255, 170, 51);
}

#divTwo div input {
    background: rgb(225, 225, 225);
    height: 80px;
    width: 400px;
    border-radius: 3px;
    padding: 0px 35px 0px 10px;
    border: none;
    outline: none;
    color: black;
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}

#divThree {
    padding: 10px 50px 0px 50px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

label {
    color: rgb(78, 78, 78);
}

#divFour {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 90px;
    margin-top: 90px;
}

#divFour p {
    color: black;
    font-size: large;
}

.login-result {
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(125, 211, 123);
    margin-top: -50px;
    border-radius: 50%;
    width: 48px;
    height: 47px;
}

.login-result {
    z-index: 1;
}

.login-result .bi {
    position: absolute;
    color: white;
    font-size: xx-large;
}

.login-result-wall {
    width: 50px;
    height: 50px;
    transition: 1s;
    z-index: 2;
    background: rgb(125, 211, 123);
}

.login-result-p {
    position: absolute;
    top: 100px;
    left: 0;
}

.bad {
    background: rgb(220, 53, 69);
    color: rgb(220, 53, 69);
}

.form-login {
    color: rgb(52, 47, 40);
}

.form-login a {
    color: rgb(255, 170, 51);
    text-decoration: none;
}

.form-login a:hover {
    text-decoration: underline;
}

button {
    background: rgb(235, 235, 235);
    width: 30%;
    height: 35px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(255, 170, 51);
}

button:hover {
    background: rgb(255, 170, 51);
}

button:active {
    background: rgb(255, 170, 51);
}

button p {
    color: rgb(52, 47, 40);
    font-size: large;
    font-weight: bold;
    margin-top: 3px;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-color: rgb(255, 170, 51);
    outline-style: auto;
    outline-width: 5px;
}
