html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, rgb(221, 182, 109), #e0dddf);
    overflow-x: hidden;
}

.user-information {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-container {
    margin-top: 50px;
    padding-top: 50px;
    width: 1050px;
    display: flex;
    justify-content: center;
}

.column {
    margin-top: 30px;
    width: 350px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#col-2 {
    height: auto;
    width: 500px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.transaction-container {
    margin-top: 10px;   
}

.info-requisite {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#requisite_fullname, #requisite_number, #requisite_date, #requisite_cvv {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
