{% extends "base.html" %}

{% load static %}

{% block title %}Активация Аккаунта{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account-activation.css' %}">
{% endblock %}

{% block content %}
    {% if refresh_token_exists %}
        {% include "profile_nav.html" %}
    {% else %}
        {% include "nav.html" %}
    {% endif %}
    <div class="verification">
        <div class="verification-container">
            <div class="verification-block">
                <div id="divZero" class="content">
                    <i class="bi bi-envelope-at-fill" id="envelope">
                        <p>ПРОВЕРЬТЕ СВОЙ АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</p>
                    </i>
                    <hr>
                </div>
                <div id="divTwo" class="content">
                    Пожалуйста, проверьте свою почту и введите
                    код ниже, чтобы активировать ваш аккаут.
                </div>
                <div id="divThree" class="content">
                    <div class="input-box">
                        <div>
                            <input type="text" class="square" maxlength="4" name="code">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="3">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="2">
                        </div>
                        <div>
                            <input type="text" class="square" maxlength="1">
                        </div>
                    </div>
                </div>
                <div id="divFour" class="content">
                    <button id="verify"><p>Активировать</p></button>
                </div>
            </div>
        </div>
        <div class="hints-container">
        </div>
    </div>
    <script src="{% static 'js/activation/account-activate.js' %}"></script>
{% endblock %}