{% extends "base.html" %}

{% load static %}

{% block title %}
    Создание объявлений 
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/create_ads.css' %}">
{% endblock %}

{% block content %}
    {% if refresh_token_exists %}
        {% include "ads_nav.html" %}
    {% else %}
        {% include "nav.html" %}
    {% endif %}
    <div class="login">
        <div class="login-container">
            <div class="left-side">
                <div id="divOne">
                    <p id="ref">Создать объявление</p>
                </div>
                <div id="divTwo">
                    <div>
                        <div>Название*</div>
                        <input id="title-input" type="text" name="title">
                        <i class="bi bi-chat-right-text-fill"></i>
                    </div>
                    <div>
                        <div>Описание*</div>
                        <input id="desc-input" type="text" name="description">
                        <i class="bi bi-chat-right-text-fill"></i>
                    </div>
                    <div>
                        <div>Сумма*</div>
                        <input id="amount-input" type="text" name="amount">
                        <i class="bi bi-currency-exchange"></i>
                    </div>
                </div>
                <div id="divFour">
                    <button id="transfer-btn" type="submit">
                        <p>Создать</p>
                    </button>
                    <p id="transfer-info">Нажмите, чтобы создать объявление!</p>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

{% block script %}
    <script src="{% static 'js/check-auth.js' %}"></script>
    <script src="{% static 'js/ads/create_ads.js' %}"></script>
{% endblock %}