{% extends "base.html" %}

{% load static %}

{% block title %}
    Пополнить баланс
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/fill_wallet.css' %}">
{% endblock %}

{% block content %}
    {% if refresh_token_exists %}
        {% include "profile_nav.html" %}
    {% else %}
        {% include "nav.html" %}
    {% endif %}
    <div class="login">
        <div class="login-container">
            <div class="left-side">
                <div id="divOne">
                    <p id="ref">Пополнить баланс</p>
                </div>
                <div id="divTwo">
                    <div>
                        <div>Сумма</div>
                        <input id="amount-input" type="text" name="amount">
                        <i class="bi bi-currency-exchange"></i>
                    </div>
                </div>
                <div id="divFour">
                    <button id="transfer-btn" type="submit">
                        <p>Пополнить</p>
                    </button>
                    <p id="transfer-info">Нажмите, чтобы пополнить баланс!</p>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}

{% block script %}
    <script src="{% static 'js/check-auth.js' %}"></script>
    <script src="{% static 'js/refill_transfer/fill_wallet.js' %}"></script>
{% endblock %}