{% extends "base.html" %}

{% load static %}

{% block title %}
   Востановление пароля
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/forgot.css' %}">
{% endblock %}

{% block content %}
    {% if refresh_token_exists %}
        {% include "profile_nav.html" %}
    {% else %}
        {% include "nav.html" %}
    {% endif %}
    <div class="login">
        <div class="login-container">
            <div class="left-side">
                <div id="divOne">
                    <p>Восстановление пароля</p>
                </div>
                <div id="divTwo">
                    <div>
                        <div>Email</div>
                        <input id="email-input" type="text" name="email">
                        <i class="bi bi-envelope-at-fill"></i>
                    </div>
                </div>
                <div id="divFour">
                    <button id="btnlog" type="submit">
                        <p>Отправить</p>
                    </button>
                    <p class="info-p">Нажмите, чтобы отправить код восстановления!</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/forgot/forgot.js' %}"></script>
{% endblock %}
