{% extends "base.html" %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    {% include "profile_nav.html" %}
    <div class="user-information">
        <div class="user-container">
            <div class="column" id="col-2">
                <div class="new-card">
                    <button id="new-card-btn"><p>Выпустить виртуальную карту</p></button>
                </div>
                <p class="info-p">Нажмите, чтобы выпустить карту!</p>
                <div class="card-container">
                    <div class="card">
                        <div class="card-inner">
                            <div class="front">
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <div class="row">
                                    <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
                                    <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px">
                                </div>
                                <div class="row card-no">
                                    <p id="requisite_nums1">5169</p>
                                    <p id="requisite_nums2">4971</p>
                                    <p id="requisite_nums3">****</p>
                                    <p id="requisite_nums4">****</p>
                                </div>
                                <div class="row card-holder">
                                    <p>ВЛАДЕЛЕЦ</p>
                                    <p id="requisite_fullname">Blochshenko Vyacheslav</p>
                                </div>
                                <div class="row name">
                                    <p>ГОДЕН ДО</p>
                                    <p id="requisite_date">10 / 25</p>
                                </div>
                            </div>
                            <div class="back">
                                <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
                                <div class="bar"></div>
                                <div class="row card-cvv">
                                    <div>
                                        <img src="https://i.ibb.co/S6JG8px/pattern.png">
                                    </div>
                                    <p id="requisite_cvv">***</p>
                                    <i class="bi bi-eye-slash" name="eye3" id="cvv_eye"></i>
                                </div>
                                <div class="row card-text">
                                    <p>Это виртуальная карта с использованием HTML и CSS.Вы также можете спроектировать что -то подобное.</p>
                                </div>
                                <div class="row signature">
                                    <p>BALANCE</p>
                                    <p id="requisite_balance">7000 <span style="color: black;">₸</span></p>
                                    <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="80px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column" id="col-1">
                <div class="profile-header">
                    <div id="avatar"></div>
                    <h1 class="user-fullname"></h1>
                    <p class="user-email"></p>
                    <p class="user-join">Дата создания:</p>
                </div>
                <div class="profile-links">
                    <a href="/transaction/">Перевод</a>
                    <a href="/requisite/">Реквизиты карты</a>
                    <a href="/convert/">Калькулятор валюты</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/check-auth.js' %}"></script>
    <script src="{% static 'js/profile/profile.js' %}"></script>
{% endblock %}
