<nav class="navigation-bar">
    <div class="container">
        <ul>
            <li class="navbar-logo">
                <a href="/">
                    <img src="/media/Bank.png"id="navbar-logo-img"></a>
            </li>
            <li class="navbar-menu" id="profile">
                <a href="/account/">
                    <div class="navbar-link">Профиль</div>
                </a>
            </li>
            <li class="navbar-menu" id="balance-replenishment">
                <a href="/fill_wallet/">
                    <div class="navbar-link">Пополнить</div>
                </a>
            </li>
            <li class="navbar-menu" id="currency-convertation">
                <a href="/currencies/">
                    <div class="navbar-link">Курс валют</div>
                </a>
            </li>
            <li class="navbar-menu" id="acc-ver">
                <a href="">
                    <div class="navbar-link">Магазин</div>
                </a>
            </li>
            <li class="navbar-menu" id="logout">
                <a href="/" id="logout-button">
                    <div class="navbar-link">Выйти</div>
                </a>
            </li>
        </ul>
    </div>
</nav>