{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <form id="registrationForm">
        <label for="first_name">Имя:</label>
        <input type="text" id="first_name" name="first_name" required>

        <!-- Добавьте другие поля формы здесь -->

        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войдите здесь</a>.</p>
{% endblock %}

{% block script %}
    <script src="{% static 'js/registration.js' %}"></script>
{% endblock %}
