{% extends "base.html" %}

{% load static %}

{% block title %}
   Авторизация
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/reset_pass.css' %}">
{% endblock %}

{% block content %}
    {% include "nav.html" %}
    <div class="login">
        <div class="login-container">
            <div class="left-side">
                <div id="divOne">
                    <p>Смена пароля</p>
                </div>
                <div id="divTwo">
                    <div>
                        <div>Код сброса</div>
                        <input id="code-input" type="text" name="code">
                        <i class="bi bi-chat-text-fill"></i>
                    </div>
                    <div>
                        <div>Пароль</div>
                        <input id="password-input" type="password" name="password">
                        <i id="password-eye" class="bi bi-eye-slash"></i>
                    </div>
                    <div>
                        <div>Повторите пароль</div>
                        <input id="password2-input" type="password" name="password">
                        <i id="password2-eye" class="bi bi-eye-slash"></i>
                    </div>
                </div>
                <div id="divFour">
                    <button id="btnlog" type="submit">
                        <p>Сменить пароль</p>
                    </button>
                    <p class="info-p">Нажмите, чтобы войти в систему!</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/reset_pass/reset_pass.js' %}"></script>
{% endblock %}